.env
gservice-account.json
subscribers.json
forward_map.json
bot.log
anon.session
venv
logs
add_rating.png
banlist.json
banwords.json
casino.jpg
daily_stats
emoji_weights.json
info.db
last_sizes.json
message_stats.json
meta.json
moderators.json
query_params.log
server.log
social_rating*
sub_rating.png
